@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	width: 1110px;
	margin: 0 auto;
	background-color: #1C1B21;
	background-image: url(../Style/Img/Home.svg);
	background-repeat: no-repeat;
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: 27px;
}

/*Header */

ul li {
	display: inline-block;
	margin-right: 62px;
}
ol {
	margin-top: 60px;
	margin-left: 19px;
}	
.HoverLine {
	text-decoration: none;
	color: white;
	position: relative;
	line-height: 1;
}
.HoverLine:after {
	content: "";
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 5px; 
	background-color: #55478F; 
	transition: width 0.3s ease-out;
	border-radius: 2px; 
}
.HoverLine:hover:after,
.HoverLine:focus:after {
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
}
.menu {
	margin-top: 50px;
	font-weight: 600;
	font-size: 18px;
}
.HrMenu {
	display: none;
}
.HrMenu:hover {
	background-color: blue;
	transition: 2s;
	display: block;
}

.logo {
	margin-top: 30px;
	letter-spacing: 20px;
	display: inline-table;

}
.logo2 {
	margin-left: 22px;
}

/*Home*/
.offer-home {
	margin-top: 322px ;
	color: white;
	font-weight: 700;
	line-height: 72px;
	font-size: 48px;
}
.War {
	font-family: 'Poppins';
	font-weight: 700;
	line-height: 150px;
	font-size: 100px;
	color: #fff;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
}

/*News*/

.cards {
	margin-top: 206px;
	margin-right: 30px;
}
.container {
	display: inline-flex;

}

.text-into-cards {
	background: #7A66CC;
	opacity: 0.7;
	border-radius: 20px 0px;
	width: 330px;
	height: 91px;

	margin-top: -95px;
	color: white;

	display: flex;
	flex-wrap: wrap;
	align-content: center;

	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 0px 0px 20px;
	
}

/*About*/

.Second-screen {
	margin-top: 180px;
	color: white;
	display: flex;
	align-items: center;
	font-size: 48px;
	line-height: 72px;
	font-weight: 700;
}
.Bright-Lights {
	margin-left: 30px;
}

.example-content-wrapper {
	display: flex;
}
.offer-bio {
	width: 540px;
	height: 380px;
	color: white;
	margin-top: 39px;
	opacity: 0.7;
	line-height: 24px;
	font-size: 16px;
	text-align: justify;
}

.Addres {
	list-style-image: url(../Style/Img/Flag.svg);
	font-size: 18px;
	font-weight: 600;
	color: white;
	

	width: 500px;
	height: 190px;

	display: flex;
	justify-content: space-around;
}
.BrightLightsFoto {
	margin-left: 125px;
	margin-top: 0px;
}

/*Coments*/

.comments {
	width: 1108px;
	height: 313px;
	border-radius: 30px 0px 30px 0px;
	border: 1px solid white;

	display: flex;
	align-items: center;

	color: white;
	font-weight: 400;

	margin-top: 236px;
}
.comments-quotes {
	margin-left: 80px;
	position: relative;
	text-align: justify;
}
.quotes {
	position: absolute;
  	width: 20%;
}
.CommentsFoto {
	margin-right: 80px;
	margin-left: 60px;
	
}
.HrComments {
	margin-top: 25px;
	width: 520px;
	color: white;
	opacity: 0.6;
}
.autor {
	margin-top: 25px;
	color: #7a66cc;
}

.positionAbsolute {
	position: absolute;
}

/*Music*/

.LastTracks {
	margin-top: 265px;
}
.Tracks-Info {
	color: white;
	font-size: 48px;
	line-height: 72px;
	font-weight: 700;
	display: inline-flex;
	
	margin-left: 60px;
}
.LastTracks-Foto {
	width: 1110px;
    height: 547px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
	
}
.LastTracksLogo {
	margin-left:30px ;
}
.FotoTracks {
	margin-top: 41px;
}
.Tracks {
	width: 540px;
	height: 288px;
	color: white;
	margin: 93px 0px 0px 60px;
	
}

.FollowTracks {
	color: white;
	display: flex;
	align-items: center;
	margin: 63px 0px 0px 60px;
}
.Spotify {
	margin: 0px 10px 0px 40px;
}
.Itunes {
	margin: 0px 10px 0px 40px;
}
.FollowMeON {
	font-size: 24px;
	font-weight: 600;	
}
h4 {
	display: inline-block;
	margin-right: 20px;
}



/*Collage*/

.Collage {
	margin-top: 217px;
}

.LeftFoto {
	display: flex;
	align-items: flex-start;

	position: absolute;
}


.CenterBottom {
	display: flex;
	justify-content: center;
	align-items: center
}


#FotoIn {
	position: relative;
	margin-top: 10px;
	
}

.TextInFoto {
	position: absolute;
	color: #7A66CC;
	font-size: 24px;
}

.MarginLeft {
	margin-left: 30px;
}
#Left {
	height: 255px;
}

.RightFoto {
	margin-left: 570px;
	display: flex;
}

.Right {
	margin-left: 30px;
}

/*Tikets*/

.Tikets {
	margin-top: 180px;
}

.item {
	width: 350px;
	height: 473px;
	background: url(../Style/Img/Carousel/BackgroundTicket.svg);

}

.TextTicket {
	color: white;
	opacity: 0.5;
	margin: 30px 0px 0px 35px;
}
.NameEvent {
	color: white;
	margin: 30px 0px 0px 35px;
}
.DateEvent {
	width: 310px;
	color: white;
	opacity: 0.5;
}
.BuyTicket {
	width: 180px;
	height: 60px;
	
}
#BtnTicket {
	width: 180px;
	height: 60px;
	background-color: #7A66CC;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	border: none;
	opacity: 0.5;
	border-radius: 30px 0px;
	line-height: 24px;
	cursor: pointer;
	transition: 1s;
}
#BtnTicket:hover {
	opacity: 1;
}

.shellT {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0px 0px 40px;
}
/*Carousel*/

.owl-theme .owl-nav {
    margin: -250px 0px 0px -85px;
    width: 1270px;

}
.owl-nav {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.owl-stage-outer{
	position: absolute;
}


/*Footer*/ 

.Footer {
	width: 533px;
	margin: 360px 0px 0px 288px;
	
}

.FooterLogo {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}


.Contacts {
	display: flex;
	justify-content: space-evenly;
    align-items: flex-end;
}
.ContactsTitle {
	color: white;
	text-transform: uppercase;
	margin-top: 60px;
	font-size: 18px;
	text-align: right;
}

.ContactsName {
	color: white;
	text-transform: uppercase;
	line-height: 27px;
	font-size: 16px;
	font-weight: 400;
}


.IconSM {
	margin-top: 60px;
	display: flex;
	justify-content: space-around
}

.Smoke {
	margin: 100px 0px 50px 0px;
	display: flex;
	justify-content: center;

	opacity: 0.5;
	color: white;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}


/*ArrowTop(Back to header)*/
.upward {
	opacity: 0;
	visibility: hidden;
	transition: 0.7s;
 	position:fixed; 
  	bottom: 70px;
  	right:50px;       
  	width:100px;   
  	height:35px;    
  	z-index:999;    
}

.upward.active {
	visibility: visible;
	opacity: 1;
}

.upward:hover {
	transform: scale(1.1);
}

/* Модальное окно */

.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}
.popup.show {
	display: block;
}

.popup__overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.popup__body {
	width: 730px;
	height: 280px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	padding: 40px;
	position: relative;
	display: flex;

}

.popup__close {
	color: black;
	position: absolute;
	right: 20px;
	top: 20px;
}

.position__right {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	font-weight: 600;
}

.name__event, .data__event {
	font-size: 20px;
	text-align: center;
}

.lorem__event {
	padding-top: 20px;
	text-align: justify;
}